.about {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Prevent contents from going up */
    min-height: 90vh;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.info{
    justify-content: center;
    padding: calc(1vw + 1rem);
    background-color: white;
}

.info p {
    line-height: 3.5rem;
    text-align: justify;
}

@media screen and (max-width: 1440px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}