.icons{
    text-align: center;
    margin-bottom: 2rem;  
}

.icons a {
    font-size: calc(0.5vw + 1.5rem) !important;
    margin: 0rem 1rem;
    color: #0000cc;
}

.icons a:hover{
    color:black;
    transition-duration: 0.2s;
    transform: scale(1.25);
}