.section {
    margin: auto;
    padding: 1.5rem 1rem;
}

@media screen and (min-width: 1150px) {
    .section{
        max-width: 920px;
    }
}

@media screen and (min-width: 1440px) {
    .section{
        max-width: 1150px;
    }
}

@media screen and (min-width: 1800px) {
    .section{
        max-width: 1440px;
    }
}