.control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0;
}
  
.control select {
  padding: 0rem 1rem;
  font-weight: bold;
  border-radius: 6px;
}