main {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: 1fr 1fr;  
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;

    justify-content: space-evenly;
    padding: 1rem;
}

.info{
    background-color: white;
    padding:10px;
    border-style: groove;
}

video{
    width:100%; 
    object-fit: cover;
    aspect-ratio: 16/9;
}

div button{
    margin-top:10px;
}

@media screen and (max-width: 1200px) {
    main{
        -ms-grid-columns: 1fr;  
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}