.project{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem ;
    margin: 0rem calc(1vw + 1rem);
}

.adjust {
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:calc(1vw + 3rem);
    
    justify-content: space-evenly;
    padding: calc(1vw + 1rem);
}

.grid video{
    width:100%; 
    aspect-ratio: 16/9;
}

@media screen and (max-width: 1200px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}