main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;

    justify-content: space-evenly;
    padding: 1rem;
    margin: auto 150px;

}

.info{
    background-color: white;
    padding:10px;
    border-style: groove;
}

video{
    width:100%; 
    object-fit: cover;
    aspect-ratio: 16/9;
}

div button{
    margin-top:10px;
}

@media screen and (max-width: 1200px) {
    main{
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    main{
        margin: auto 50px;
    }
}

@media screen and (max-width: 525px) {
    main{
        margin: auto 0px;
    }
}
