.image{
    text-align: center;
}

.image img {
    height: calc(1vw + 600px) !important;

    /* Scales down image but never scales up */
    width: 100%;
    max-width: 400px;

    object-fit: cover;
}

@media screen and (max-width: 1400px) {
    .image{
        margin: auto auto 50px;
    }
}