.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* Prevent contents from going up */
    min-height: 90vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:calc(1vw + 3rem);
    text-align: center;
}

.set{
    background-color: white;
    padding: 1rem;
    border-style: groove;
}

.set span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 5rem;
    height: 5rem;

    border-radius: 3rem;
    font-size: 2.5rem;

    background-color: blue;
    color: white;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    line-height: 3rem;
    padding: 1rem;
}

@media screen and (max-width: 1420px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 1000px){
    .grid, .list{
        grid-template-columns: repeat(1, 1fr);
    }
    .list{
        line-height: 3rem;
        padding: 0rem;
    }
    .skill{
        width: 100%;
        max-width: 25rem;
    }
}