section{
    background-color: whitesmoke;
    margin-top: 190px;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

header{
    margin: auto;
    padding: 1rem 0px; 

    font-size: 1.5rem;
    text-align: center;
}

@media screen and (min-width: 1400px){
    .container{
        max-width: 90vw !important;
    }
}

@media screen and (max-width: 320px){
    .container{
        padding: 0 !important;
    }
}