#about-section{
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);

    padding: 1rem;
}

.about-info{
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto 150px;
}

.about-info div p {
    margin: 1rem 0rem;
    line-height: 2.5rem;
    text-align: justify;
}

.about-image{
    display: flex;
    margin-left: 150px;
}

.about-image img {
    height: 700px;
    width: 400px;
}

@media screen and (max-width: 1400px) {
    #about-section{
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }

    .about-image{
        justify-content: center;
        margin-left: 0;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .about-info{
        margin: auto 50px;
    }
}

@media screen and (max-width: 525px) {
    #about-section{
        padding: 0;
    }

    .about-info{
        margin: auto 0px;
    }
    
    .about-image img {
        width: 320px;
    }
}